.evaluation {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.evaluation__list {
  @include list-style-clear;
  max-width: 960px;
  margin: auto;
  display: grid;
  gap: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
  }
}

.evaluation__item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 5px 0 rgba(0, 1, 1, 0.15);
  padding: 20px;
}

.evaluation__item--latest {
  @media (min-width: $tablet-width) {
    grid-column: 1 / span 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 3;
  }
}

.evaluation__header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}

.evaluation__date {
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.evaluation__payment {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.evaluation__payment-mark {
  margin-left: 10px;
}

.evaluation__type {
  margin: 0;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: $primary-color-dark;
  color: $color-white;
  padding: 10px;
}

.evaluation__type-list {
  @include list-style-clear;
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
}

.evaluation__type-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.evaluation__task {
  max-width: 75%;
}

.evaluation__dots {
  flex-grow: 1;
  border-bottom: 2px dotted $primary-color-dark;
  margin-left: 5px;
  margin-right: 5px;
}

.evaluation__score {
  font-weight: 700;
  color: #f80808;
}

.evaluation__behaviour-container {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background-color: $primary-color-dark;
  padding: 10px;
}

.evaluation__type-behaviour {
  margin-bottom: 0;
  padding: 0;
}
